###############################
#  Ignore files!              #
###############################
aaol.sublime-project
aaol.sublime-workspace
sftp-config.json

  # https://github.com/hellboy1975/aaol.git
