
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../web/favicon.ico">

    <title>AAOL</title>

    <!-- Bootstrap core CSS -->
    <link href="../web/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../web/css/aaol.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">AAOL</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">View <b class="caret"></b></a>
              <ul class="dropdown-menu">

                  <li><a href="/caves">Caves</a></li>
                  <li><a href="/canyons">Canyons</a></li>
                  <li><a href="/hikes">Hikes</a></li>
                  <li><a href="/climbs">Climbs</a></li>
                  <li><a href="/abseils">Abseils</a></li>
                              
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

          
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome {{ app.security.token.user.username }} <b class="caret"></b></a>

                  <ul class="dropdown-menu">

                      <li><a href="/settings">Settings</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header">My Activities</li>
                      <li><a href="/my-log">View Log</a></li>
                      <li><a href="/add">Add Activity</a></li>

                      {% if is_granted('ROLE_ADMIN') %}
                          <li class="divider"></li>
                          <li class="dropdown-header">Admin</li>
                          <li><a href="/admin/newpost">New Post</a></li>
                          <li><a href="/admin/users">Users</a></li>
                      {% endif %}
                                  
                  </ul>

              </li>

              
              <li><a href="{{ path('logout') }}">Log out</a></li>
          {% else %}
              <li><a href="../login">Login</a></li>
          {% endif %}
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

    {% block content %}{% endblock %}

      

    </div> <!-- /container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script src="../web/js/bootstrap.min.js"></script>
    <script src="../web/js/aaol.js"></script>
  </body>
</html>
