{% extends "base.twig" %}

{% block content %}

<form action="#" method="post">
    {{ form_widget(form) }}

    <br>

    <button class="btn btn-default">{{ form_button_label|default('Submit') }}</button>
</form>


{% endblock %}    