
{% extends "base.twig" %}

{% set current_page_name = 'denied' %}
{% set page_title = 'Permission Denied!' ~ ' |' %}

{% block content %}
   	
   	<h1>Permission Denied!</h1>

   	<p>You shouldn't be here.  Let me know if you think you should be...</p>

{% endblock %}  