
{% extends "base.twig" %}

{% block content %}
<div>
    <h1>Hello there!</h1>
    <p>Welcome to AAOL, or the Adventurous Activities Online Log.  This site isn't really operational yet, but when it is it will let you login in a keep a track of all your adventurous activities, including Caving, Canyoning, Hiking, Abseiling, Rockclimbing and more.</p>
    <p>Registrations are closed for the time being, but will be opened up eventually.  Keep an eye on this page for details.</p>
</div>
{% endblock %}      