
{% extends "base.twig" %}

{% set current_page_name = 'home' %}
{% set page_title = 'Home |' %}

{% block content %}
<div>
    <h1>Welcome to AAOL</h1>
    <p><strong>AAOL</strong> is the <em>Adventurous Activities Online Log</em>.  This site isn't really operational yet, but when it is it will let you login in a keep a track of all your adventurous activities, including Caving, Canyoning, Hiking, Abseiling, Rockclimbing and more.</p>
    <p>Registrations are closed for the time being, but will be opened up eventually.  Keep an eye on this page for details.</p>
</div>

<h2>Latest News</h2>

{% for post in posts %}
   	{{ include('posts/posts.twig') }}
{% else %}
    No posts have been found.
{% endfor %}



{% endblock %}      