
{% extends "base.twig" %}

{% block content %}

<form action="{{ path('admin_login_check') }}" method="post">
    {{ error }}
    <div class="form-group">
	    Login:<br>
    	<input type="text" name="_username" class="form-control" value="{{ last_username }}" />
    </div>
    <div class="form-group">
    	Password:<br>
    	<input type="password" name="_password" class="form-control" value="" />
    </div>
    <button class="btn btn-default">Login</button>

    <p>Registrations are currently limited on AAOL while it's in development.  When the site is ready for public testing, there will be a mechanism to allow you to self register.</p>
</form>

{% endblock %}      


