
{% extends "base.twig" %}

{% set current_page_name = 'stub' %}
{% set page_title = 'Not ready yet!' ~ ' |' %}

{% block content %}
   	
   	<h1>Page under construction!</h1>

   	<p>This page isn't ready yet - check back later!</p>

{% endblock %}  