{% extends "base.twig" %}

{% set current_page_name = 'user-settings' %}
{% set page_title = 'User Settings |' %}

{% block content %}

<div class="page-header">
  <h1>User Settings <small>{{ user_data.username|default( '' ) }}</small></h1>
</div>


<form action="#" method="post">
    {{ form_widget(form) }}

    <br>

    <button class="btn btn-default">Save</button>
</form>



{% endblock %}    